body.dark {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
}

.container {
    text-align: center;
    padding: 40px;
}

h1 {
    color: #38bdf8;
    font-size: 36px;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.card-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #020617;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 15px rgba(56,189,248,0.3);
}

.card h2 {
    color: #38bdf8;
}

.card p {
    font-size: 14px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #38bdf8;
    color: #020617;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #0ea5e9;
}
.card {
    background: #020617;
    padding: 25px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(56,189,248,0.3);
}

.meal-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

select {
    padding: 6px;
    border-radius: 5px;
}

.result {
    margin-top: 15px;
    text-align: center;
    color: #38bdf8;
    font-weight: bold;
}

.back {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #38bdf8;
    text-decoration: none;
}
input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 180px;
}

button.btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button.btn:hover {
    background: #0ea5e9;
}

